<div class="banner-content">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h4>Learn, Share, Build</h4>
      <br/>
      <p>Each month, over 50 million developers come to Stack Overflow to learn, share <br/> theri knowledge, and build their careers.</p>
      <br/>
      <p>Join the world's largest developer community.</p>
    </div>
    <div class="col-lg-6">
      <div class="row  justify-content-center align-self-center">
        <button type="button" class="btn btn-outline-light btn-google"><i class="fab fa-google"></i> Google</button>
        <button type="button" class="btn btn-outline-primary btn-facebook"><i class="fab fa-facebook"></i>  Facebook</button>
        <button type="button" class="btn btn-outline-light btn-signup">Sign Up</button>
      </div>
      <div class="row justify-content-center align-self-center">
        <p class="cookie-policy">By clicking "Sign Up", you acknowledge that you have read our updated <span>terms of service, privary policy</span> and <span>cookie policy</span><br/>and that your continued use of the website is subject to these policies.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 banner-footer">
  <p><strong>Stack Overflow Business Solutions: </strong>Looking to understand, engage, or hire develoeprs? <strong><a href="#">Learn more >></a></strong></p>
</div>