<div class="footer-content">
  <div class="row">
    <div class="col-lg-2">
      <h5><a href="#">Stack Overflow</a></h5>
      <ul>
        <li>Questions</li>
        <li>Jobs</li>
        <li>Developer Jobs Directory</li>
        <li>Salary Calculator</li>
        <li>Help</li>
        <li>Mobile</li>
        <li>Disable Responsiveness</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5><a href="#">Products</a></h5>
      <ul>
        <li>Teams</li>
        <li>Talent</li>
        <li>Engagement</li>
        <li>Enterprise</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5><a href="#">Company</a></h5>
      <ul>
        <li>About</li>
        <li>Press</li>
        <li>Work Here</li>
        <li>Legal</li>
        <li>Privacy Policy</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5><a href="#">Stack Exchange Network</a></h5>
      <ul>
        <li>Technology</li>
        <li>Life / Arts</li>
        <li>Culture / Recreation</li>
        <li>Science</li>
        <li>Other</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <p>site design / logo © 2018 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required. rev 2018.10.4.31811</p>
    </div>
  </div>
</div>	